
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: 20px 20px;
}
#photos {
    margin-top:2em;
}
a{
    color:white;
}
a:hover {
    text-decoration:none;
    color:lightgray;    
}

.navbar{
    border-radius: 5px;
}

.navbar-brand{

    padding-right:15px;
    border-right:1px solid white;

}

.trash-icon{
    float: right;
    transform: scale(0.5);
}

.card-header{
    position: relative;
}
.card-title{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}


.jumpingHead {
    position: fixed;
    height:200px;
    width:200px;
    top:200px;
    left:400px;    
    z-index: 100;
    animation: jump 0.7s linear 0s infinite alternate;
    -webkit-animation: jump 0.7s linear 0s infinite alternate;
    
}

.cloudGreet{

    position: fixed;
    height:200px;
    width:300px;
    top:150px;
    left:600px;
    margin:auto;
    z-index: 100;
    animation: jump 0.7s linear 0s infinite alternate;

}

.photo {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.label-title {
    display: block;
}

.upload-form {
    max-width: 400px;
}





@keyframes jump {
    from {
        transform: translateY(0);
        
    }

    to{
        transform: translateY(20px) scale(1.1)
    }
}


@-webkit-keyframes jump {
    from {
        -webkit-transform: translateY(0);
    }

    to{
        -webkit-transform: translateY(20px)
    }
}