
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: 20px 20px;
}
#photos {
    margin-top:2em;
}
a{
    color:white;
}
a:hover {
    text-decoration:none;
    color:lightgray;    
}

.navbar{
    border-radius: 5px;
}

.navbar-brand{

    padding-right:15px;
    border-right:1px solid white;

}

.trash-icon{
    float: right;
    transform: scale(0.5);
}

.card-header{
    position: relative;
}
.card-title{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}




.photo {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.label-title {
    display: block;
}

.upload-form {
    max-width: 400px;
}






